rectangle-test.py
test2.py
test.py
test-turtle.py
fractals/frac_new/cantor_dust.frac
fractals/frac_new/dywansierp.frac
fractals/frac_new/ii.frac
fractals/frac_new/ka.frac
fractals/frac_new/kwadrat.frac
fractals/frac_new/kwadrat1.frac
fractals/frac_new/kwadrat2.frac
fractals/frac_new/kwadratbad.frac
fractals/frac_new/kwadratsrod.frac
fractals/frac_new/pieciokat.frac
fractals/frac_new/szesciokat.frac
fractals/frac_new/trojkat.frac
fractals/frac_new/viscek.frac
fractals/frac_new/x1.frac
fractals/frac_new/x2.frac
fractals/frac_new/x3.frac
fractals/frac_new/x4.frac
fractals/frac_new/x5.frac
fractals/frac_new/x6.frac
fractals/ifs_new/a006.ifs
fractals/ifs_new/a007.ifs
fractals/ifs_new/babylon.ifs
fractals/ifs_new/bloomingTree.ifs
fractals/ifs_new/c.ifs
fractals/ifs_new/cantor.ifs
fractals/ifs_new/cantor2.ifs
fractals/ifs_new/coral.ifs
fractals/ifs_new/crystal.ifs
fractals/ifs_new/dragon.ifs
fractals/ifs_new/dragon2.ifs
fractals/ifs_new/dragonFire.ifs
fractals/ifs_new/dragonNew.ifs
fractals/ifs_new/drzewo.ifs
fractals/ifs_new/dywanSierpinskiego.ifs
fractals/ifs_new/fern.ifs
fractals/ifs_new/floor.ifs
fractals/ifs_new/g.ifs
fractals/ifs_new/goldenDragon.ifs
fractals/ifs_new/koch.ifs
fractals/ifs_new/pentadendrite.ifs
fractals/ifs_new/pentagon.ifs
fractals/ifs_new/pentigree.ifs
fractals/ifs_new/pentigree2.ifs
fractals/ifs_new/pythagoreanTree45.ifs
fractals/ifs_new/pythagoreanTree60.ifs
fractals/ifs_new/snowflake.ifs
fractals/ifs_new/snowflake2.ifs
fractals/ifs_new/sticks.ifs
fractals/ifs_new/terdragon.ifs
fractals/ifs_new/triangle.ifs
fractals/ifs_new/twindragon.ifs
fractals/ifs_new/x.ifs
fractals/ifs_new/z2highway.ifs
fractals/lsys/dywan_sierpinskiego.lsys
test.py
fractals/rect/trojkat.rect

fractals/rect/dywanSierpinskiego.rect
__pycache__/fractals.cpython-312.pyc
image.png
fractals/frac_new/trojkatsierpinskiego.frac
test.py
fractals/frac_new/trojkatDuzy.frac
fractals/frac_new/trojkatMaly.frac
fractals/lsys/mooreCurve.lsys
fractals/lsys/peanoCurve.lsys
fractals/lsys/plant.lsys
mandelbrot_colored.dll
